<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Product Form</title>

  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
  <link rel="stylesheet" th:href="@{/css/styles.css}"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>
<body>
<div th:replace="~{navbar :: nav1}"></div>

<div class="container text-center">
  <div class="row">

    <h1 th:if="${product.id}" class="h1-title">Modificar Product <span th:text="${product.id}"></span></h1>
    <h1 th:if="${product.id} == null" class="h1-title">Crear nuevo Product</h1>

    <div class="col"></div>

    <div class="col">

      <div th:if="${error}">
        <div class="alert alert-danger" role="alert" >
          <p th:text="${error}"></p>
        </div>
        <a type="button" class="btn btn-primary" th:href="@{/products}">Volver</a>
      </div>

      <form th:if="${error} == null" th:action="@{/products}" method="POST" th:object="${product}" enctype="multipart/form-data">

        <input type="hidden" id="id" name="id" th:field="*{id}" />


        <div class="mb-2">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" th:field="*{name}" >
        </div>

        <div class="mb-2">
          <label for="description" class="form-label">Description</label>
          <textarea class="form-control" id="description" rows="3" th:field="*{description}"></textarea>
        </div>

        <div class="mb-2">
          <label for="price" placeholder="0.00 €" required name="price" min="0"
                 value="0.00" step="0.01" title="Price" class="form-label">Price (€)</label>
          <input type="number" min="0" step="0.01" class="form-control" id="price" th:field="*{price}">
        </div>


        <div class="mb-4">
          <label for="stock"  min="0" placeholder="0 unidades" step="1" class="form-label">Stock (Unidades)</label>
          <input type="number" min="0" class="form-control" id="stock" th:field="*{stock}">
        </div>

        <div class="form-check mb-4 mt-2 text-start">
          <input class="form-check-input" type="checkbox" role="switch" id="available" th:field="*{available}">
          <label class="form-check-label" for="available">
            Disponible
          </label>
        </div>

        <div class="mb-4">
          <label>Categoría(s)</label>
          <select class="form-select" aria-label="category"  th:field="*{categories}" multiple>
            <option th:if="${product.id} == null" selected value="0">Seleccionar categoría</option>
            <option th:each="category : ${categories}"
                    th:value="${category.id}"
                    th:text="${category.name}"></option>
          </select>
        </div>


        <div class="mb-4">
          <label>Manufacturer</label>
          <select aria-label="Manufacturer" class="form-select" th:field="*{manufacturer}">
            <option th:if="${product.id} == null" selected value="0">Seleccionar manufacturer</option>
            <option th:each="manufacturer : ${manufacturer}"
                    th:value="${manufacturer.id}"
                    th:text="${manufacturer.name}"></option>
          </select>
        </div>

        <div th:if="${product.imageUrl}" class="mb-3">
          <span>Imagen actual</label>
          <img th:src="|/files/${product.imageUrl}|" class="card-img-top" alt="Imagen de producto" style="aspect-ratio:1;">
          <input class="form-control" type="hidden" id="imageUrl" th:field="*{imageUrl}" readonly>
        </div>

        <div class="mb-3">
          <label for="file" class="form-label">Cargar imagen</label>
          <input class="form-control" type="file" id="file" name="file">
        </div>

        <a class="btn btn-danger" th:href="@{/products}">Cancelar</a>
        <button type="submit" class="btn btn-success">Guardar</button>

      </form>


    </div>

    <div class="col"></div>
  </div>
</div>

<div th:replace="~{footer :: footer1}"></div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>