<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Product List</title>

  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
  <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<div th:replace="~{navbar :: nav1}"></div>
<div class="container text-center">
  <div class="row">
    <div class="col-1">

    </div>
    <div class="col-10">
      <h1 class="h1-title">Listado Products</h1>
      <div>
        <a class="btn btn-info" th:href="@{/products/create}">Crear nuevo producto</a>
      </div>
<!--      <div class="mt-2">
        <span>Filtrar por manufacturer: </span>
        <<a class="btn btn-link btn-sm"
            th:if="${product.manufacturer != null}"
            th:text="${product.manufacturer.name}"
            th:href="@{/products/manufacturer/{id}(id=${product.manufacturer.id})}"></a>
      </div>-->


      <div class="row row-cols-1 row-cols-md-3 g-4" style="margin-top: 10px">
        <div class="col" th:each="product : ${products}">
          <div class="card" >

            <img th:src="${#strings.isEmpty(product.imageUrl)}
              ? 'https://dummyimage.com/250x250/b8b8b8/000000.jpg&text=Product+Image'
              : |/files/${product.imageUrl}|"
                 class="card-img-top" alt="Imagen de producto"
            >

            <div class="card-body">
              <h5 class="card-title" th:text="${product.name}"></h5>
              <p class="card-text" th:text="${product.description}"></p>
              <p strong class="card-text" th:text="${product.price} + €"></p>
              <a class="btn btn-primary" th:href="@{/products/{id}(id=${product.id})}">Ver</a>
              <a sec:authorize="isAuthenticated()"
                 class="btn btn-success" th:href="@{/products/{id}/add(id=${product.id})}">Añadir al carrito</a>
            </div>
          </div>
        </div>
      </div>

      <div class="alert alert-info" role="alert" th:if="${#lists.isEmpty(products)}">
        No hay elementos actualmente.
      </div>
      <div class="text-center" th:if="${#lists.size(products) > 0}">
        Hay <span th:text="${#lists.size(products)}"></span> resultados.
      </div>


    </div>
    <div class="col-1">

    </div>
  </div>
</div>

<div th:replace="~{footer :: footer1}"></div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>