<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Manufacturer Form</title>

  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div th:replace="~{navbar :: nav1}"></div>

<div class="container text-center">
  <div class="row">

    <div th:unless="${error}">
        <h1 th:if="${manufacturer.id}">Modificar Manufacturer <span th:text="${manufacturer.id}"></span></h1>
        <h1 th:if="${manufacturer.id} == null">Crear nuevo Manufacturer</h1>
    </div>

    <div class="col"></div>

    <div class="col">

        <div th:if="${error}">
            <div class="alert alert-danger" role="alert" >
                <p th:text="${error}"></p>
            </div>
            <a type="button" class="btn btn-primary" th:href="@{/manufacturers}">Volver</a>
        </div>

        <div th:if="${warning}">
            <div class="alert alert-danger" role="alert" >
                <p th:text="${warning}"></p>
            </div>
        </div>

        <form th:unless="${error}" th:action="@{/manufacturers}" method="POST" th:object="${manufacturer}">

            <input type="hidden" id="id" name="id" th:field="*{id}" />

            <div class="mb-3">
                <label for="cif" class="form-label">CIF</label>
                <input type="text" class="form-control" id="cif" th:field="*{cif}">
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="name" th:field="*{name}">
            </div>

            <div class="mb-3">
                <label for="phoneNumber" class="form-label">Nº teléfono</label>
                <input type="text" class="form-control" id="phoneNumber" th:field="*{phoneNumber}">
            </div>

            <div class="mb-3">
                <select aria-label="Addresses" class="form-select" th:field="*{address}">
                    <option th:if="${manufacturer.id} == null" selected value="0">Seleccionar dirección</option>
                    <option th:each="address : ${addresses}" th:value="${address.id}" th:text="${address.name}"></option>
                </select>
            </div>

            <a class="btn btn-danger" th:href="@{/manufacturers}">Cancelar</a>
            <button type="submit" class="btn btn-success">Guardar</button>

        </form>


    </div>

    <div class="col"></div>
  </div>
</div>

<div th:replace="~{footer :: footer1}"></div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>