<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order List</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<!-- <div th:replace="~{navbar :: nav1}"></div> -->
<div class="container text-center">
    <div class="row">
        <div class="col-1">

        </div>
        <div class="col-10">

            <div>
                <a class="btn btn-info" th:href="@{/manufacturers/create}">Crear nuevo manufacturer</a>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">CIF</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Dirección</th>
                        <th scope="col">Nº Teléfono</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="manufacturer : ${manufacturers}">
                        <td th:text="${manufacturer.id}"></td>
                        <td th:text="${manufacturer.cif}"></td>
                        <td th:text="${manufacturer.name}"></td>
                        <td th:text="${manufacturer.address}">></td>
                        <td th:text="${manufacturer.phoneNumber}">></td>
                        <td>
                            <a class="btn btn-primary" th:href="@{/manufacturers/{id}(id=${manufacturer.id})}">Ver</a>
                            <a class="btn btn-success" th:href="@{/manufacturers/{id}/edit(id=${manufacturer.id})}">Editar</a>
                            <a class="btn btn-danger" th:href="@{/manufacturers/{id}/delete(id=${manufacturer.id})}">Borrar</a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="alert alert-info" role="alert" th:if="${#lists.isEmpty(manufacturers)}">
                No hay elementos actualmente.
            </div>
            <div class="text-center" th:if="${#lists.size(manufacturers) > 0}">
                Hay <span th:text="${#lists.size(manufacturers)}"></span> resultados.
            </div>


        </div>
        <div class="col-1">

        </div>
    </div>
</div>

<!-- <div th:replace="~{footer :: footer1}"></div> -->
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>