<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Logout</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<div th:replace="~{navbar :: nav1}"></div>

<div class="container text-center">
    <h1 class="mb-3">¿Quiere cerrar sesión?</h1>
    <form th:action="@{/logout}" method="post">
        <input type="submit" class="btn btn-danger btn-lg" value="Cerrar sesión" />
    </form>
</div>

<div th:replace="~{footer :: footer1}"></div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>