body {
    background-color: #BFDCDB; /* Cambia el color de fondo según tu preferencia */
    font-family: "serif";
    font-size: 25px;
}

.login-class{
    font-weight: bold;
    font-size: 24px;
    color:black;

}

.register-class{

    font-weight: bold;
    font-size: 24px;
    color:black;
}

.card-title {
    font-weight: bold;
}

.list-group-item a {
    color:black;
    font-size: 24px;
}

