<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>
<body>
<div th:replace="~{navbar :: nav1}"></div>

<div class="container text-center pt-3">
    <h1 th:text="${message}"></h1>

    <div class="row pt-2">
        <div class="col"></div>
        <div class="alert alert-danger col-4" role="alert">
            <a th:href="products" class="alert-link">Volver a página principal</a>
        </div>
        <div class="col"></div>
    </div>

</div>

<div th:replace="~{footer :: footer1}"></div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>