<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<footer th:fragment="footer1" class="bd-footer py-2 py-md-2 mt-5 bg-light">
  <div class="container py-4 py-md-5 px-4 px-md-3">
    <div class="row">
      <div class="col-lg-3 mb-3">
        <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="/" aria-label="Bootstrap">
          <img class="img-fluid nav-logo" src="/img/logo.png" style="max-height:30px;" alt="Logo Magpie">
          <span class="fs-5">ecommerce</span>
        </a>
        <ul class="list-unstyled small text-muted">
          Amplia selección de productos de alta calidad a precios competitivos.
          Desde ropa y accesorios hasta artículos de hogar y electrónica,
          en Magpie encontrarás todo lo que necesitas para tu vida diaria.
        </ul>
      </div>
      <div class="col-6 col-lg-2 offset-lg-1">
        <h5>Sobre nosotros</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="/products">Products</a></li>
          <li class="mb-2"><a href="/manufacturers">Manufacturer</a></li>
          <li class="mb-2"><a href="/orders">Orders</a></li>
          <li class="mb-2"><a href="/customers">Customers</a></li>
          <li class="mb-2"><a href="/shoppingCarts">ShoppingCarts</a></li>
          <li class="mb-2"><a href="/cartitems">CartItems</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 mb-3">
        <h5>Pago seguro</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="/login">Login</a></li>
          <li class="mb-2"><a href="/user/sign-in">Registro</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 mb-3">
        <h5>Contacto</h5>
        <ul class="list-unstyled">
          <a href="mailto:ecommerce@magpie.com"><i aria-hidden="true" class="bi bi-mailbox2"><span>.</span></i> ecommerce@magpie.com</a>
        </ul>
      </div>
    </div>
  </div>

  <p style="text-align: center">Magpie ©.Todos los derechos reservados.</p>
</footer>


</body>
</html>