<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="item-list (cartItems)">
  <table class="table table-hover mt-1" th:if="${cartItems} AND ${#lists.size(cartItems) > 0}">
    <thead class="table-light">
    <tr>
      <th scope="col">Producto</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Precio</th>
    </tr>
    </thead>
    <tbody>
    <!-- Productos -->
    <tr th:each="cartItem : ${cartItems}">
      <td>
        <a class="btn btn-link btn-sm"
           th:text="${cartItem.product.name}"
           th:href="@{/products/{id}(id=${cartItem.product.id})}">
        </a>
      </td>
      <td th:text="|x${cartItem.amount}|"></td>
      <td th:text="|${cartItem.product.price} €|"></td>
    </tr>
    <!-- Precio total -->
    <tr>
      <td></td>
      <td><b>Total:</b></td>
      <td class="text-success" th:text="|${@orderServiceImpl.calculateTotalPrice(cartItems)} €|"></td>
    </tr>
    </tbody>
  </table>
  <span th:if="${cartItems} == null OR ${#lists.size(cartItems) == 0}">Vacío</span>
</div>
</body>
</html>