<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<nav th:fragment="nav1" class="navbar navbar-expand-lg bg-light mb-5">
  <div class="container-fluid">
    <a class="navbar-brand" href="/products">
      <img class="img-fluid nav-logo" src="/img/logo.png" style="max-height:70px;" alt="Logo Magpie">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/products}">Productos</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" th:href="@{/categories}">Link a categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/orders}">Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/customers}">Customers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/shoppingCarts}">ShoppingCarts</a>
        </li>
      </ul>

      <div class="d-flex">
        <div sec:authorize="isAnonymous()">
          <a class="btn btn-link login-class" th:href="@{/login}">Iniciar sesión</a>
        </div>
        <div sec:authorize="isAnonymous()">
          <a class="btn btn-link register-class" th:href="@{/user/sign-in}">Registrarse</a>
        </div>

        <div class="dropdown" sec:authorize="isAuthenticated()">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <strong th:text="${#authentication.principal.username}"></strong>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" th:href="@{/customers/{id}/editar(id=${#authentication.principal.customer.id})}">
              Datos personales</a>
            </li>
            <li><a class="dropdown-item" th:href="@{/user/{id}/edit(id=${#authentication.principal.id})}">
              Cambiar username / password</a>
            </li>
            <li><a class="dropdown-item"
                   th:href="@{/shoppingCarts/byCustomer/{customerId}(customerId=${#authentication.principal.customer.id})}">
              Carrito</a>
            </li>
            <li><a class="dropdown-item"
                   th:href="@{/customers/{id}/orders(id=${#authentication.principal.customer.id})}">
              Pedidos</a>
            </li>
            <li><a class="dropdown-item" th:href="@{/logout}">
              Cerrar sesión</a>
            </li>
          </ul>
        </div>
      </div>

      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

</body>
</html>