<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<nav th:fragment="nav1" class="navbar navbar-expand-lg bg-light mb-5">
  <div class="container-fluid">
    <a class="navbar-brand" href="/products">
      <img class="img-fluid nav-logo" src="/img/bookstore.png" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/products}">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/categories}">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/manufacturers}">Manufacturers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/orders}">Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/customers}">Customers</a>
        </li>
      </ul>

      <div class="d-flex">
        <div sec:authorize="isAnonymous()">
          <a class="btn btn-link" th:href="@{/login}">Iniciar sesión</a>
        </div>
        <div sec:authorize="isAnonymous()">
          <a class="btn btn-link" th:href="@{/user/sign-in}">Registrarse</a>
        </div>

        <div class="text-justify" sec:authorize="isAuthenticated()">
          <b class="btn" sec:authentication="principal.username"></b>
        </div>
        <div sec:authorize="isAuthenticated()">
          <a class="btn btn-link" th:href="@{/logout}">Cerrar sesión</a>
        </div>
      </div>

      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>


</body>
</html>