<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalle Customer</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div th:replace="~{navbar :: nav1}"></div>

<div class="text-center">
    <h2>Modificar datos cliente</h2>
</div>

<div class="card mx-auto mt-4" style="width: 18rem;">

    <div class="card-body">


        <div class="mb-2 ">
            <strong><label for="formGroupExampleInput" class="form-label">Nombre: </label></strong>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="editar nombre">
        </div>
        <div class="mb-2 ">
            <strong><label for="formGroupExampleInput2" class="form-label">Apellido: </label></strong>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="editar apellido">
        </div>
        <div class="mb-2">
            <strong><label for="formGroupExampleInput3" class="form-label">Teléfono: </label></strong>
            <input type="text" class="form-control" id="formGroupExampleInput3" placeholder="editar telefono">
        </div>
        <div class="mb-2">
            <strong><label for="formGroupExampleInput4" class="form-label">Email: </label></strong>
            <input type="text" class="form-control" id="formGroupExampleInput4" placeholder="editar email">
        </div>

    </div>
    <div class="card-body text-center">
        <a class="btn btn-success" th:href="@{/customers}">Guardar</a>
        <a class="btn btn-danger" th:href="@{/customers/{id}(id=${customer.getId()})}">Cancelar</a>

    </div>


</div>

<div th:replace="~{footer :: footer1}"></div>

</body>
</html>