<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ShoppingCart List</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div th:replace="~{navbar :: nav1}"></div>

<div class="container text-center">
    <div class="row">
        <h1>Listado de carritos</h1>
        <div class="col mt-3">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Propietario del carrito</th>
                    <th scope="col">Cantidad items</th>
                    <th scope="col">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="shoppingcarts: ${shoppingcarts}">

                    <td th:text="${shoppingcarts.customer.getName()}"></td>
                    <td th:text="${shoppingcarts.getCartItems().size()}"></td>
                    <td>
                        <a class="btn btn-primary" th:href="@{/shoppingCarts/{id}(id=${shoppingcarts.id})}">Ver Carrito</a>
                    </td>
                </tr>

                </tbody>
            </table>


        </div>
    </div>
</div>
<div th:replace="~{footer :: footer1}"></div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>