<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ShoppingCart List</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div th:replace="~{navbar :: nav1}"></div>

<div class="container text-center">
    <h1>Carrito de [[${customer.getName() + " " + customer.getSurname()}]]</h1>

    <div class="col mt-5">

        </div>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Producto</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio</th>
                <th scope="col">Coste total del producto</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cartItem : ${cartItems}">
                <td th:text="${cartItem.id}"></td>
                <td th:text="${cartItem.product.getName()}"></td>
                <td th:text="${cartItem.getAmount()}"></td>
                <td th:text="${cartItem.product.getPrice()}+ '€'"></td>
                <td th:text="${cartItem.product.getPrice() * cartItem.getAmount()}+ '€'"></td>
                <td>
                    <a class="btn btn-primary" >+</a>
                    <a class="btn btn-danger" >-</a>
                </td>
            </tr>
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">Cantidad Total</th>
                <th scope="col"></th>
                <th scope="col">Coste total del carrito</th>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td th:text="${amountProducts}"></td>
                <td></td>
                <td th:text="${totalShoppingCartCost} + '€'"></td>
                <td>
                    <a class="btn btn-success" >Pagar</a>
                    <a class="btn btn-warning" th:href="${removeItems}" >Vaciar carrito</a>
                </td>
            </tr>
            </tbody>

        </table>

    <div class="alert alert-danger" role="alert" th:if="${#lists.isEmpty(cartItems)}">
        El carrito está vacio.
    </div>
    <div class="alert alert-success" role="alert" th:if="${#lists.size(cartItems) > 0}">
        Hay <span th:text="${amountProducts}"></span> productos pendientes de pago.
    </div>



<div th:replace="~{footer :: footer1}"></div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>