<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ShoppingCart List</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div th:replace="~{navbar :: nav1}"></div>

<div class="container text-center">
    <h1>Carrito de: [[${customer.get().getName() + " " + customer.get().getSurname()}]]</h1>

    <div class="col mt-5">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Producto</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cartItem : ${cartItems}">
                <td th:text="${cartItem.id}"></td>
                <td th:text="${cartItem.product.getName()}"></td>
                <td th:text="${cartItem.amount}"></td>
                <td th:text="${cartItem.product.getPrice()}"></td>
                <td>
                    <a class="btn btn-primary" >Ver</a>
                    <a class="btn btn-success" >Editar</a>
                    <a class="btn btn-danger" >Borrar</a>
                </td>
            </tr>
            </tbody>
        </table>


    </div>




</div>
<div th:replace="~{footer :: footer1}"></div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>