<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ShoppingCart List</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

</head>
<body>
<div th:replace="~{navbar :: nav1}"></div>

<div class="container text-center">
    <h1>Carrito de [[${customer.getName() + " " + customer.getSurname()}]]</h1>

    <div class="container text-center">
        <div class="row align-items-start">
            <div class="col-8">
                <table class="table table-bordered border border-dark">
                    <thead>
                    <tr style="background-color: #E4E3E3;">
                        <th scope="col">Producto</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Precio Unidad</th>
                        <th scope="col">Total</th>
                        <th scope="col">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="cartItem : ${cartItems}">
                        <td th:text="${cartItem.product.getName()}"></td>
                        <td th:text="${cartItem.getAmount()}"></td>
                        <td th:text="${#numbers.formatDecimal(cartItem.product.getPrice(), 1, 2)}+ '€'"></td>
                        <td th:text="${#numbers.formatDecimal(cartItem.getPrice(), 1, 2)}+ '€'"></td>
                        <td>
                            <a th:href="@{/shoppingCarts/{id}/{idItem}/addOne(id=${shoppincartById.id}, idItem=${cartItem.id})}">
                                <button btn btn-light><i class="bi bi-cart-plus"></i></button>
                            </a>
                            <a th:href="@{/shoppingCarts/{id}/{idItem}/delete(id=${shoppincartById.id}, idItem=${cartItem.id})}">
                                <button btn btn-light><i class="bi bi-trash3-fill"></i></button>
                            </a>
                            <a th:href="@{/shoppingCarts/{id}/{idItem}/deleteOne(id=${shoppincartById.id}, idItem=${cartItem.id})}">
                                <button btn btn-light><i class="bi bi-cart-dash">-</i></button>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-4">
                <div>
                    <table table table-bordered style="width: 100%;">
                        <thead>

                        <tr style="background-color: #E4E3E3;">

                            <th scope="col">Cantidad</th>
                            <th scope="col">Precio total</th>
                            <th scope="col">Acciones</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr>

                                <td th:text="${amountProducts}"></td>
                            <td th:text="${#numbers.formatDecimal(totalShoppingCartCost, 1, 2)} + '€'"></td>
                            <td>
                                <a th:class="' ' + ${#lists.isEmpty(cartItems) ? 'disabled' : ''}" th:href="@{/orders/create/{cartId}(cartId=${(shoppincartById.getId())})}"><button btn btn-light class="button-pay"><i class="bi bi-currency-euro fs-3"></i></button></a>
                                <a th:href="@{/shoppingCarts/{id}/emptyShoppingCart(id=${(shoppincartById.getId())})}"><button btn btn-light><i class="bi bi-trash3-fill"></i></button></a>
                                <a th:href="@{/products}"><button btn btn-light><i class="bi bi-reply-all-fill"></i></button></a>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                    <div class="container-alert">
                        <div class="alert alert-light mt-5" role="alert" th:if="${#lists.isEmpty(cartItems)}">
                            El carrito está vacio.
                        </div>
                        <div class="alert alert-light mt-5" role="alert" th:if="${#lists.size(cartItems) > 0}">
                            Hay <span th:text="${amountProducts}"></span> productos pendientes de pago.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div th:replace="~{footer :: footer1}"></div>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</div>
</body>
</html>